<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Colore" version="6.0.0-rc0005" targetFramework="net472" />
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net472" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net472" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net472" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net472" />
  <package id="NAudio" version="1.9.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net472" />
  <package id="System.Net.NetworkInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net472" />
  <package id="YeelightAPI" version="1.5.0" targetFramework="net472" />
</packages>