<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net472" />
  <package id="System.Net.NetworkInformation" version="4.3.0" targetFramework="net472" />
  <package id="YeelightAPI" version="1.5.0" targetFramework="net472" />
</packages>